.formBG {
    background: linear-gradient(to top, rgba(245, 246, 252, 0.52), gray),
        url('../../../Assets/bgImg/login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}