.foodBg {
    background:
        linear-gradient(to right, rgba(245, 246, 252, 0.52), gray),
        url('../../../../Assets/BannerImages/serviceBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}