.restricted {
    background: linear-gradient(to top, rgba(245, 246, 252, 0.52), #000000),
        url('../../../Assets/bgImg/skullBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}